<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <th:block th:replace="~{/../fragments/head :: head('Cadastrar Produto')}"></th:block>
  <body>
    <th:block th:replace="~{/../fragments/head :: header}"></th:block>
    <div class="container" style="margin-top: 100px;">
      <h1>Listagem de Animais</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Espécie</th>
            <th scope="col">Habitat</th>
            <th scope="col">Idade</th>
            <th scope="col">Peso (kg)</th>
            <th scope="col">Em Extinção</th>
            <th scope="col">Data de Chegada</th>
            <th sec:authorize="hasAuthority('Admin')" scope="col">Excluir</th>
            <th sec:authorize="hasAuthority('Admin')" scope="col">Editar</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="animal : ${animalsList}">
            <td th:text="${animal.nome}"></td>
            <td th:text="${animal.especie}"></td>
            <td th:text="${animal.habitat}"></td>
            <td th:text="${animal.idade}"></td>
            <td th:text="${animal.peso}"></td>
            <td th:text="${animal.emExtincao} ? 'Sim' : 'Não'"></td>
            <td th:text="${animal.dataChegada}"></td>
            <td sec:authorize="hasAuthority('Admin')">
                <a type="button" class="btn btn-danger" th:href="@{/animal/delete/{id}(id=${animal.id})}">Deletar</a>
            </td>
            <td sec:authorize="hasAuthority('Admin')">
                 <a type="button" class="btn btn-warning" th:href="@{/animal/edit/{id}(id=${animal.id})}">Editar</a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <a th:href="@{/animal/create}">
          <button sec:authorize="hasAuthority('Admin')" class="btn btn-primary">Cadastrar Produto</button>
        </a>
      </div>
    </div>
    <th:block th:replace="~{/../fragments/footer :: footer}"></th:block>
  </body>
</html>
